<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Create -->
  <ion-item>
    <ion-label position="floating">nom</ion-label>
    <ion-input  [(ngModel)]="nom"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">prenom</ion-label>
    <ion-input [(ngModel)]="prenom"></ion-input>
  </ion-item>
    
  <ion-item>
    <ion-label position="floating">username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input  type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">telephone</ion-label>
    <ion-input type="number" [(ngModel)]="telephone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">role</ion-label>
    <ion-input type="number" [(ngModel)]="role"></ion-input>
  </ion-item>

  <ion-button color="success" expand="block" (click)="createUser()">
    Add User
  </ion-button>



  <ion-button color="success" expand="block" (click)="loginPage()">
    login
  </ion-button>


  
  <!-- Read -->
  <ion-item *ngFor="let user of crud.Emplo">
    <ion-label>
      <h2><strong>{{ user.nom }}</strong></h2>
      <p>{{ user.username }}</p>
      <p>{{ user.telephone }}</p>
    </ion-label>

    <div class="item-note" item-end>
      <ion-icon color="primary" name="create" style="zoom:1.3" [routerLink]="['/edit/', user.user_id]"></ion-icon>
      
      <ion-icon color="danger" name="trash" style="zoom:1.3" (click)="remove(user.user_id)"></ion-icon>
    </div>
  </ion-item>
  
</ion-content>
