<ion-app>
  <ion-content>
    <ion-toolbar class="tool">
      <ion-buttons slot="start">
        <ion-button  (click)="returnHome()" class="home">
          <ion-icon  src="../../assets/mdicons/md-home.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <div class="icon">
        <ion-button><ion-icon src="../../assets/mdicons/Settings.svg"  auto-hide="false"></ion-icon></ion-button>
      </div>
      <div class="icon">
        <ion-button>
          
          <ion-icon src="../../assets/mdicons/Logout.svg"  auto-hide="false"></ion-icon></ion-button>
      </div >
      </ion-buttons>
      
      <ion-title> <ion-icon class="pers" name="person"> </ion-icon>  Tabari Arrafat</ion-title>
    </ion-toolbar>

    

    <div class="menu-header-logo">
      
        <img src="../../assets/Logo.png"/>

    </div>
    <ion-list class="menu-item" > 

      <ion-item  (click)='goUsers()'   class="click one">
        
        <ion-icon   src ="../../assets/mdicons/md-us.svg"></ion-icon><ion-label class="active"> Gestion des utilisateurs</ion-label>
      </ion-item>
      <ion-item  class="click">
        <ion-icon  src="../../assets/mdicons/md-prod.svg"></ion-icon><ion-label class="active"> Produits</ion-label>
      </ion-item>
      <ion-item class="click" >
        <ion-icon src="../../assets/mdicons/md-emp.svg"></ion-icon> <ion-label class="active"> Emplacement</ion-label> 
      </ion-item>
      <ion-item class="click">
        <ion-icon src="../../assets/mdicons/md-inv.svg"> </ion-icon><ion-label class="active">Inventaire</ion-label> 
      </ion-item>
      <ion-item class="click">
        <ion-icon src="../../assets/mdicons/md-stock.svg"></ion-icon><ion-label class="active">Etat de stock</ion-label> 
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer>
    <ion-toolbar class="qr-scan" >
     <ion-fab-button> <ion-icon name="scan"></ion-icon></ion-fab-button>
    <span class="qr">Scanner  Qr Code</span> 
    </ion-toolbar>
  </ion-footer>




</ion-app>